$white: #ffffff;
$white-75: rgba($white, 0.75);
$white-50: rgba($white, 0.5);
$white-08: rgba($white, 0.08);
$black: #000;
$black-50: rgba($black,0.5);
$black-75: rgba($black,0.75);
$dark-primary: #121212;
$dark-secondary: #1C1C1C;
$green-primary: #02C700;
$green-primary-30: rgba($green-primary, 0.3);
$green-primary-10: rgba($green-primary, 0.1);
$green-secondary: #BEF941;
$green-secondary-30: rgba($green-secondary, 0.3);
$green-secondary-10: rgba($green-secondary, 0.1);
$orange: #FEA726;
$orange-30: rgba($orange, 0.3);
$orange-10: rgba($orange, 0.1);
$pink-primary: #F982FB;
$pink-primary-30: rgba($pink-primary, 0.3);
$pink-primary-10: rgba($pink-primary, 0.1);
$pink-light: #E4C3EE;
$pink-secondary: #FF1D63;
$gray: #F4F4F4;
$gray-75: rgba($gray, 0.75);
$gray-10: rgba($gray, 0.10);
$blue: #94BDFF;
$blue-10: rgba($blue, 0.1);
$violet: #A59FFF;
$violet-10: rgba(165, 159, 255, 0.1);