$white: #ffffff;
$white-75: rgba(255, 255, 255, 0.75);
$white-50: rgba(255, 255, 255, 0.5);
$white-08: rgba(255, 255, 255, 0.08);
$black: #000;
$black-50: rgba(0,0,0,0.5);
$dark-primary: #121212;
$dark-secondary: #1C1C1C;
$green-primary: #02C700;
$green-primary-30: rgba(2, 199, 0, 0.3);
$green-primary-10: rgba(2, 199, 0, 0.1);
$green-secondary: #BEF941;
$green-secondary-30: rgba(190, 249, 65, 0.3);
$green-secondary-10: rgba(190, 249, 65, 0.1);
$orange: #FEA726;
$orange-30: rgba(254, 167, 38, 0.3);
$orange-10: rgba(254, 167, 38, 0.1);
$pink-primary: #F982FB;
$pink-primary-30: rgba(249, 130, 251, 0.3);
$pink-primary-10: rgba(249, 130, 251, 0.3);
$pink-light: #E4C3EE;
$pink-secondary: #FF1D63;
$gray: #F4F4F4;
$gray-10: rgba(244, 244, 244, 0.10);
$blue: #94BDFF;