@use "sass:map";
@use "sass:list";
@forward "generic";
@forward "../fonts/e-ukraine/e-ukraine.css";
@forward "../fonts/e-ukraineHead/e-ukraineHead.css";
@forward "../fonts/damn/damn.css";





/* Colors
--------------------------------------------- */
$primary-green: #02C700;
$white: #fff;
$orange: #fd7e14;
$black: #1b1b1b;
$gray: #8a8a8a;
//$gray-light: #f0f0f0;
$text-primary: #1c1c1c;
$pink: #F982FB;
$blue: #564cf8;
//$yellow: #ffcc48;
//$purple: #bd7fee;


/* Variables
--------------------------------------------- */
$primary-animation: all .3s ease;


/* Media Query
--------------------------------------------- */
$breakpoints: (
        xs: 425px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl:1400px,
        hd: 1920px,
        4k: 2560px
);

@mixin breakpoint($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin breakpointMax($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (max-width: ($size - 1)) {
    @content;
  }
}


/* Mixins
--------------------------------------------- */
@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

//@mixin grid-container {
//  display: grid;
//  grid-column-gap: $gap;
//  grid-row-gap: $gap;
//  grid-template-columns: repeat(2, 1fr);
//  -ms-grid-rows: auto;
//  grid-template-rows: auto;
//
//  @include breakpoint(md) {
//    grid-template-columns: repeat(12, 1fr);
//  }
//}
//
//@mixin left-side-padding {
//  padding-left: $section__padding__l_r;
//  @include breakpoint(xxl) {
//    padding-left: $section__padding__l_r__xxl;
//  }
//  @include breakpoint(4k) {
//    padding-left: calc((100vw - $max-global--content-size) / 2);
//  }
//}

/* Layout
--------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'e-Ukraine Head', sans-serif;
  font-size: 1.1rem;
  color: $black;
  --sb-track-color: transparent;
  --sb-thumb-color: $primary-green;
  --sb-size: 8px;
}


body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

main {
  max-width: 100vw;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.container-fluid {
  max-width: 95%;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.d-block {
  display: block;
}


img {
  max-width: 100%;
  height: auto;
}

.title-secondary {
  font-family: 'DAMN', sans-serif;
}

/* Keyframes
--------------------------------------------- */

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* Components
--------------------------------------------- */

.button-primary {
  --button-primary-bg: #{$primary-green};
  --button-primary-hover-bg: #{$orange};
  --button-primary-text: #{$white};
  --button-primary-icon-bg: #{$orange};
  --button-primary-icon-hover-bg: #{$primary-green};
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px 6px 8px;
  border-radius: 100px;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  text-decoration: none;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: $primary-animation;
  font-size: 1rem;
  border: 3px solid $white;

  &__text {
    z-index: 1;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    transition: all 0.75s ease-in-out;
    background: var(--button-primary-icon-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='14' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E") center no-repeat;
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: var(--button-primary-hover-bg);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.75s ease-in-out;
    will-change: transform;
  }

  &:hover {
    .button-primary__icon {
      background: var(--button-primary-icon-hover-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='14' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E") center no-repeat;
    }

    &:before {
      transform: translateX(0);
    }
  }

  &.pink {
    --button-primary-bg: #{$pink};
    --button-primary-hover-bg: #{$primary-green};
    --button-primary-text: #{$white};
    --button-primary-icon-bg: #{$primary-green};
    --button-primary-icon-hover-bg: #{$pink};
  }
}


/* Styling
---------------------------------------------*/

.header-primary {
  max-width: 95%;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 100px;

  &__logo {
    max-width: 150px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 12px;
    margin-bottom: 36px;

    .nav-link {
      padding: 0;
      text-transform: uppercase;
      color: $text-primary;
      transition: $primary-animation;

      &:hover {
        color: $primary-green;
      }
    }
  }

  .navbar-toggler {
    padding: 0;
    border: none;

    &:focus {
      box-shadow: none;
    }

    .navbar-toggler-icon {
      width: 2rem;
      height: 2rem;
      --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7H19' stroke='%23222222' stroke-linecap='round'/%3E%3Cpath d='M5 12H19' stroke='%23222222' stroke-linecap='round'/%3E%3Cpath d='M5 17H19' stroke='%23222222' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
  }

  .button-primary {
    font-size: 0.875rem;
  }

  .btn-close {
    padding: 0;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    background-size: cover;
    --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

    &:focus {
      box-shadow: none;
    }
  }
}

.hero {
  background-color: $blue;
  min-height: 100vh;
  padding-top: 200px;

  &__eyes-animation {
    position: fixed;
    top: 20.6svw;
    left: 66.1svw;
    max-width: 150px;
    transform: rotate(15deg);
  }

  &__baguette-stickers{
    z-index: 11;
    width: 60px;
    top: 35.8svw;
    left: 2.3svw;
    position: fixed;
    bottom: 0;
    right: auto;
  }

  &__hand-sticker{
    z-index: 11;
    width: 50px;
    bottom: 23.1svw;
    right: 10.4svw;
    position: fixed;
    top: auto;
    left: auto;
  }

  &__title{
    color: $white;
    font-size: 50px;
  }
}

@include breakpoint(md){
  .hero{
    &__eyes-animation {
      top: 15.2svw;
      max-width: 170px;
    }

    &__baguette-stickers{
      width: 80px;
      top: 54.9svw;
      left: 7.8svw;
    }

    &__hand-sticker{
      width: 60px;
      right: 13.4svw;
    }
  }
}

@include breakpoint(lg) {
  .header-primary {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    .navbar-nav {
      align-items: center;
      row-gap: 0;
      margin-bottom: 0;

      .nav-link {
        font-size: 0.875rem;
        color: $white;
      }
    }

    .button-primary {
      font-size: 0.75rem;

      &__icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .hero {
    &__baguette-stickers {
      width: 100px;
      top: 48svw;
      left: 12.1svw;
    }
    &__hand-sticker{
      width: 70px;
      bottom: 19.9svw;
    }

    &__title{
      font-size: 10.5svw;
    }
  }

  @include breakpoint(xl) {
    .header-primary {
      &__logo {
        max-width: 200px;
      }

      .navbar-nav {
        column-gap: 36px;

        .nav-link {
          font-size: 1rem;
        }
      }

      .button-primary {
        font-size: 1rem;

        &__icon {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .hero{
      &__baguette-stickers {
        z-index: 1;
        width: 165px;
        top: 20.5svw;
        left: 13.8svw;
      }

      &__hand-sticker{
        z-index: 1;
        width: 90px;
        top: auto;
        bottom: 9.7svw;
        right: 16.3svw;
      }

      &__title{
        font-size: 5svw;
      }
    }
  }
}