@use '../abstracts/colours' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.groups{
  display: flex;
  flex-direction: column;
  row-gap: toRem(48);

  &__cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(24);

    .card{
      padding: toRem(20);
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: toRem(20);
      text-align: center;
      border: none;
      border-radius: toRem(10);

      &:nth-child(4n+1){
        background-color: $green-secondary-10;
      }
      &:nth-child(4n+2){
        background-color: $blue-10;
      }
      &:nth-child(4n+3){
        background-color: $orange-10;
      }
      &:nth-child(4n+4){
        background-color: $pink-primary-10;
      }
    }
  }

  @include breakpoint(md){
    &__cards{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include breakpoint(lg){
    &__cards{
      grid-template-columns: repeat(4, 1fr);
    }
  }
}