@use '../abstracts/colours' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/keyframes' as *;

$grid-area-values__desktop: (
        '1': '1 / 1 / 2 / 2',
        '2': '1 / 2 / 2 / 3',
        '3': '2 / 1 / 3 / 2',
        '4': '2 / 2 / 3 / 3',
        '5': '1 / 3 / 3 / 5',
        '6': '3 / 1 / 4 / 5',
        '7': '4 / 1 / 5 / 3',
        '8': '4 / 3 / 5 / 5'
);
$grid-area-values__tablet: (
        '1': '1 / 1 / 2 / 2',
        '2': '1 / 2 / 2 / 3',
        '3': '2 / 1 / 3 / 2',
        '4': '2 / 2 / 3 / 3',
        '5': '3 / 1 / 4 / 3',
        '6': '4 / 1 / 5 / 3',
        '7': '5 / 1 / 6 / 3',
        '8': '6 / 1 / 7 / 3'
);
$grid-area-values__mobile: (
        '1': '1 / 1 / 2 / 2',
        '2': '2 / 1 / 3 / 2',
        '3': '3 / 1 / 4 / 2',
        '4': '4 / 1 / 5 / 2',
        '5': '5 / 1 / 6 / 2',
        '6': '6 / 1 / 7 / 2',
        '7': '7 / 1 / 8 / 2',
        '8': '8 / 1 / 9 / 2'
);

@mixin grid-item($bg-color: white, $bg-url:null, $column-span: 1, $row-start: null, $logo-pos: null, $logo-scale: null, $logo-rotation: null, $display: block) {
  background: if($bg-url==null, $bg-color, url("#{$bg-url}") center no-repeat);
  background-size: cover;
  grid-column: span $column-span / span $column-span;
  grid-row-start: $row-start;
  display: $display;

  &:before {
    @if $logo-pos != null {
      content: url('../images/grid/G-logo.svg');
      position: absolute;
      transform: rotate($logo-rotation) scale($logo-scale);
      top: nth($logo-pos, 1);
      right: nth($logo-pos, 2);
      z-index: 1;
    }
  }

  > * {
    z-index: 2;
    position: relative;
  }
}

.home-hero {
  &__title {
    font-size: clamp(2rem, 1rem + 5vw, 5.5rem);
    margin-bottom: 36px;
  }

  .text-md {
    margin-bottom: 36px;
  }

  .hero-slider {
    overflow: hidden;
    gap: 8px;
    padding-top: toRem(40);
    margin: 0 toRem(-20);

    .swiper-wrapper {
      transition-timing-function: linear;
    }

    &-top {
      margin-bottom: toRem(12);
    }

    &__item {
      height: auto;
      width: auto;
      border-radius: toRem(10);
      overflow: hidden;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        width: auto;
        height: 140px;
        object-fit: cover;
      }
    }

    &__columns {
      display: flex;
    }
  }
}

.features {
  $colors: (
          $blue,
          $gray,
          $pink-primary,
          $green-secondary,
          $pink-light,
          $gray,
          $pink-secondary,
          transparent
  );
  z-index: 99;

  .wrapper {
    border-radius: 20px;
    padding: 10px;
    background-color: $dark-secondary;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  $i: 0;
  @each $color in $colors {
    $i: $i + 1;
    &__item:nth-child(#{$i}) {
      background: $color;
    }
  }

  &__item {
    padding: toRem(30) toRem(20);
    border-radius: 10px;
    position: relative;
    @each $index, $grid-value in $grid-area-values__mobile {
      &:nth-of-type(#{$index}) {
        grid-area: #{$grid-value};
      }
    }

    &:has(.counter) {
      text-align: center;
    }

    .counter {
      font-weight: 600;
      letter-spacing: -1px;
      line-height: 1.5;

      &__number {
        font-size: toRem(66);
      }

      &__text {
        font-size: toRem(40);
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      .counter__text {
        font-size: toRem(66);
      }
    }

    .h3 {
      margin-bottom: toRem(32);
    }

    .text-base {
      max-width: toRem(600);
      margin-bottom: toRem(20);

      &:last-of-type {
        margin-bottom: toRem(30);
      }
    }

    .plus-icon {
      @include plus-icon;
      right: toRem(20);
      bottom: toRem(16);
    }

    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: toRem(12);
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;

        &:before {
          content: '';
          width: toRem(24);
          height: toRem(24);
          background: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.5 11.7245C5.5 11.3448 5.8078 11.037 6.1875 11.037H14.1527L11.2014 8.08562C10.9329 7.81714 10.9329 7.38184 11.2014 7.11335C11.4698 6.84487 11.9052 6.84487 12.1736 7.11335L16.2986 11.2384C16.5671 11.5068 16.5671 11.9421 16.2986 12.2106L12.1736 16.3356C11.9052 16.6041 11.4698 16.6041 11.2014 16.3356C10.9329 16.0671 10.9329 15.6318 11.2014 15.3634L14.1527 12.412H6.1875C5.8078 12.412 5.5 12.1042 5.5 11.7245Z' fill='black'/%3E%3C/svg%3E%0A") center no-repeat;
          background-size: cover;
          margin-right: toRem(10);
          flex-shrink: 0;
        }
      }
    }

    &:nth-of-type(7) {
      position: relative;

      &:before {
        content: '';
        background: url("data:image/svg+xml,%3Csvg width='160' height='160' viewBox='0 0 160 160' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_230_4856)'%3E%3Cpath d='M33.8714 79.9999C33.8714 54.522 54.5271 33.8688 80 33.8688C105.481 33.8688 126.137 54.522 126.137 79.9999C126.137 105.478 105.481 126.131 80 126.131C54.5271 126.131 33.8714 105.478 33.8714 79.9999ZM160 79.9999C160 35.8166 124.187 0 80 0C35.8217 0 0 35.8166 0 79.9999C0 124.184 35.8217 160 80 160C124.187 160 160 124.184 160 79.9999Z' fill='%2302C700'/%3E%3Cpath d='M90.9472 13.4007L91.309 24.8239L94.3311 25.3149L99.8125 13.6973L98.0364 13.4096L93.021 24.0667L92.6431 12.5334L89.597 12.04L85.554 22.9607L84.1473 11.1542L82.371 10.8665L83.8903 23.6206L86.9686 24.1205L90.9472 13.4007Z' fill='white'/%3E%3Cpath d='M102.033 23.6657C102.082 23.0015 102.285 22.3049 102.635 21.5756C103.009 20.8156 103.447 20.2075 103.951 19.7548C104.455 19.3003 105.008 18.9889 105.61 18.8182C106.212 18.6468 106.853 18.6126 107.545 18.7142C108.236 18.8182 108.942 19.0474 109.675 19.4028C110.398 19.7596 111.015 20.1856 111.511 20.6774C112.007 21.1708 112.373 21.7114 112.601 22.3024C112.828 22.891 112.918 23.521 112.877 24.1917C112.828 24.8631 112.625 25.5622 112.267 26.2914C111.91 27.0312 111.479 27.6222 110.975 28.066C110.479 28.5075 109.926 28.8147 109.324 28.9854C108.731 29.157 108.08 29.1912 107.389 29.0879C106.698 28.9854 105.992 28.7562 105.268 28.3993C104.537 28.0425 103.919 27.6197 103.423 27.1328C102.918 26.6459 102.553 26.1118 102.318 25.5337C102.09 24.9533 101.992 24.3323 102.033 23.6657ZM102.162 28.1847C102.821 28.7912 103.634 29.3277 104.585 29.7927C105.536 30.2584 106.455 30.5682 107.341 30.7218C108.227 30.8755 109.064 30.8576 109.861 30.6698C110.649 30.4813 111.389 30.1048 112.064 29.5398C112.739 28.9725 113.332 28.2067 113.844 27.2417L113.983 26.9556C114.429 25.9581 114.674 25.0184 114.706 24.138C114.739 23.2568 114.592 22.4406 114.259 21.6878C113.926 20.9367 113.43 20.2506 112.772 19.6337C112.113 19.0174 111.3 18.4761 110.357 18.0086C109.406 17.5435 108.487 17.2363 107.601 17.0818C106.715 16.9282 105.87 16.9477 105.073 17.1429C104.277 17.3354 103.545 17.7167 102.862 18.2874C102.187 18.8589 101.585 19.6385 101.057 20.6254L100.919 20.9107C100.472 21.9082 100.228 22.8454 100.203 23.7201C100.171 24.5965 100.326 25.4086 100.659 26.1549C100.992 26.9011 101.496 27.5791 102.162 28.1847Z' fill='white'/%3E%3Cpath d='M120.204 23.6793L114.41 35.141L116.701 37.2642L125.941 30.5377L119.916 40.2512L122.165 42.3373L133.161 35.6933L131.842 34.4701L121.762 40.5669L127.836 30.7537L125.57 28.6543L116.157 35.5135L121.522 24.9017L120.204 23.6793Z' fill='white'/%3E%3Cpath d='M141.296 47.8257L130.959 55.4509L132.049 58.3764L143.328 56.5329L133.573 62.493L134.648 65.3693L147.451 64.3889L146.827 62.7029L135.081 63.6076L144.919 57.5783L143.845 54.6846L132.349 56.5696L141.92 49.5117L141.296 47.8257Z' fill='white'/%3E%3Cpath d='M137.554 74.169C137.73 73.4944 138.013 72.9097 138.396 72.4202C138.789 71.9316 139.28 71.5421 139.881 71.2494C140.481 70.9601 141.19 70.7891 142 70.739C142.842 70.6873 143.584 70.7674 144.234 70.9792C144.877 71.1935 145.418 71.5179 145.869 71.9549C146.311 72.3927 146.661 72.9381 146.911 73.5869C147.161 74.2365 147.311 74.9679 147.361 75.7776C147.42 76.5866 147.353 77.3288 147.17 78.0067C146.986 78.6838 146.694 79.2659 146.294 79.7571C145.894 80.2466 145.393 80.6386 144.793 80.928C144.184 81.2207 143.475 81.3916 142.666 81.4409C141.84 81.4934 141.115 81.4108 140.481 81.1964C139.856 80.9822 139.314 80.6577 138.872 80.2208C138.422 79.7813 138.071 79.2385 137.821 78.5888C137.571 77.9391 137.42 77.2103 137.37 76.3981C137.32 75.5892 137.379 74.847 137.554 74.169ZM137.671 81.5151C138.221 82.1096 138.913 82.56 139.739 82.8694C140.564 83.1771 141.523 83.3155 142.625 83.2805L142.933 83.2613C144.026 83.1595 144.96 82.9043 145.743 82.4949C146.528 82.0863 147.161 81.5518 147.645 80.8913C148.136 80.2316 148.487 79.4611 148.696 78.5822C148.904 77.7031 148.979 76.7358 148.912 75.6801C148.845 74.6235 148.663 73.6711 148.353 72.8255C148.053 71.9791 147.62 71.2586 147.053 70.6631C146.494 70.0677 145.793 69.6158 144.968 69.308C144.134 69.0011 143.158 68.8644 142.041 68.8994L141.724 68.9185C140.64 69.0203 139.706 69.2755 138.93 69.685C138.155 70.0919 137.52 70.6264 137.038 71.2861C136.554 71.9466 136.22 72.7146 136.02 73.5936C135.819 74.4725 135.753 75.4399 135.819 76.4957C135.886 77.5523 136.07 78.5046 136.379 79.3502C136.678 80.1966 137.112 80.9171 137.671 81.5151Z' fill='white'/%3E%3Cpath d='M133.65 97.9957L144.866 104.248L145.274 102.498L134.984 96.7682L146.517 97.1709L147.218 94.1649L136.594 89.3927L148.468 88.789L148.877 87.0378L136.052 87.6891L135.343 90.7302L145.766 95.4199L134.342 95.0071L133.65 97.9957Z' fill='white'/%3E%3Cpath d='M119.788 120.217L126.97 130.862L128.129 129.484L121.534 119.723L131.637 125.294L133.623 122.928L126.3 113.871L137.163 118.699L138.321 117.321L126.581 112.107L124.579 114.498L131.76 123.393L121.757 117.864L119.788 120.217Z' fill='white'/%3E%3Cpath d='M108.99 131.258C109.146 130.654 109.448 130.081 109.882 129.54C110.322 128.999 110.878 128.506 111.556 128.06C112.235 127.613 112.913 127.298 113.591 127.116C114.262 126.932 114.907 126.887 115.528 126.98C116.14 127.072 116.729 127.309 117.276 127.685C117.824 128.062 118.322 128.59 118.772 129.267C119.237 129.975 119.54 130.661 119.671 131.326C119.802 131.99 119.793 132.624 119.638 133.228C119.475 133.832 119.173 134.405 118.739 134.947C118.298 135.488 117.742 135.983 117.064 136.429C116.386 136.875 115.707 137.187 115.029 137.363C114.351 137.543 113.705 137.58 113.076 137.476C112.455 137.372 111.867 137.13 111.311 136.749C110.755 136.368 110.257 135.838 109.816 135.161C109.359 134.473 109.072 133.801 108.941 133.146C108.811 132.492 108.827 131.863 108.99 131.258ZM108.369 136.301C108.998 137.195 109.685 137.879 110.428 138.355C111.165 138.831 111.949 139.117 112.766 139.215C113.574 139.31 114.425 139.231 115.29 138.978C116.157 138.723 117.032 138.305 117.914 137.726C118.797 137.144 119.532 136.508 120.12 135.822C120.7 135.137 121.109 134.403 121.346 133.62C121.582 132.836 121.631 132.01 121.485 131.133C121.338 130.259 120.97 129.345 120.39 128.393L120.218 128.127C119.589 127.232 118.903 126.551 118.159 126.079C117.423 125.608 116.647 125.326 115.83 125.235C115.021 125.145 114.188 125.231 113.321 125.495C112.463 125.757 111.589 126.181 110.706 126.761C109.824 127.343 109.089 127.977 108.508 128.664C107.92 129.35 107.511 130.081 107.267 130.86C107.029 131.637 106.98 132.461 107.12 133.332C107.267 134.2 107.618 135.102 108.189 136.035L108.369 136.301Z' fill='white'/%3E%3Cpath d='M90.9653 135.504L91.0704 148.347L92.7931 147.836L92.696 136.059L98.0342 146.285L100.994 145.409L99.9028 133.814L106.292 143.841L108.015 143.331L101.107 132.501L98.115 133.386L99.1912 144.768L93.9093 134.633L90.9653 135.504Z' fill='white'/%3E%3Cpath d='M66.2516 147.289L69.291 147.837L73.5226 136.986L74.7225 148.815L76.4909 149.133L75.1962 136.355L72.1172 135.802L67.9648 146.449L67.799 135.024L64.7753 134.479L59.0992 146.001L60.8675 146.32L66.0701 135.752L66.2516 147.289Z' fill='white'/%3E%3Cpath d='M46.2215 135.279C46.2838 134.609 46.4939 133.914 46.8677 133.192C47.2415 132.457 47.6776 131.875 48.1838 131.44C48.6899 131.006 49.2428 130.709 49.8502 130.548C50.4575 130.388 51.0961 130.365 51.7891 130.479C52.4743 130.594 53.1829 130.834 53.8993 131.204C54.6235 131.575 55.2308 132.007 55.7214 132.503C56.2198 132.998 56.5779 133.54 56.796 134.122C57.0217 134.704 57.1074 135.33 57.0451 135.994C56.9984 136.659 56.7804 137.351 56.4144 138.074C56.0251 138.827 55.5735 139.427 55.0673 139.872C54.5534 140.316 54.0005 140.618 53.3932 140.779C52.7858 140.939 52.1472 140.963 51.4542 140.848C50.769 140.733 50.0682 140.491 49.344 140.124C48.6199 139.754 48.0125 139.318 47.5219 138.816C47.0313 138.317 46.6809 137.769 46.4629 137.173C46.2449 136.58 46.167 135.949 46.2215 135.279ZM48.6354 141.504C49.5776 141.987 50.4886 142.312 51.3764 142.48C52.2563 142.649 53.1051 142.642 53.8993 142.463C54.6936 142.283 55.4411 141.915 56.1263 141.357C56.8193 140.796 57.4345 140.028 57.9718 139.05L58.1119 138.768C58.5869 137.778 58.8361 136.847 58.8829 135.971C58.9296 135.096 58.7894 134.282 58.4701 133.528C58.143 132.777 57.6603 132.091 57.0062 131.473C56.3521 130.853 55.55 130.304 54.6079 129.824C53.6657 129.341 52.7546 129.016 51.8669 128.847C50.987 128.678 50.1461 128.681 49.3518 128.856C48.5575 129.03 47.8178 129.393 47.1248 129.946C46.4396 130.501 45.8322 131.256 45.3026 132.215L45.1625 132.497C44.6953 133.485 44.4383 134.421 44.3916 135.301C44.3448 136.183 44.4773 137 44.7965 137.758C45.1158 138.515 45.5985 139.21 46.2448 139.838C46.8989 140.467 47.6932 141.024 48.6354 141.504Z' fill='white'/%3E%3Cpath d='M37.2396 116.979L26.1352 123.431L27.4367 124.677L37.6169 118.753L31.3793 128.462L33.6048 130.598L43.1383 123.905L37.5861 134.421L38.8875 135.667L44.8785 124.305L42.6222 122.143L33.2661 128.709L39.4573 119.102L37.2396 116.979Z' fill='white'/%3E%3Cpath d='M25.1673 93.7282L12.344 94.483L12.9369 96.1803L24.696 95.4833L14.7536 101.338L15.7797 104.248L27.3033 102.567L17.6117 109.456L18.2121 111.153L28.6791 103.709L27.6454 100.766L16.3271 102.411L26.1859 96.6234L25.1673 93.7282Z' fill='white'/%3E%3Cpath d='M12.869 80.8847C13.0584 80.2098 13.3613 79.632 13.7703 79.1487C14.1792 78.6663 14.6867 78.2831 15.3002 78.002C15.9062 77.7226 16.6181 77.5628 17.4285 77.5257C18.254 77.4893 18.9735 77.584 19.6023 77.8096C20.2309 78.0324 20.7687 78.3679 21.2004 78.814C21.6397 79.2594 21.9805 79.8069 22.2229 80.4628C22.4653 81.1164 22.6016 81.8481 22.6394 82.6593C22.6773 83.4689 22.6016 84.2112 22.4123 84.8845C22.2305 85.5579 21.935 86.1357 21.5412 86.6182C21.1398 87.1029 20.6399 87.484 20.034 87.7626C19.428 88.0443 18.7236 88.2019 17.9132 88.2391C17.0649 88.2777 16.3227 88.1853 15.6865 87.9595C15.0427 87.7369 14.5049 87.4014 14.0657 86.9553C13.634 86.5122 13.2931 85.9623 13.0507 85.3064C12.8083 84.6527 12.672 83.9212 12.6342 83.11C12.5963 82.3002 12.6721 81.5581 12.869 80.8847ZM12.8538 88.2284C13.4067 88.8343 14.096 89.2972 14.9215 89.6175C15.747 89.9402 16.7166 90.0939 17.8375 90.0788L18.1556 90.0636C19.2462 89.9788 20.1854 89.7409 20.9656 89.3449C21.7457 88.951 22.3818 88.4291 22.8818 87.7763C23.374 87.1242 23.7301 86.3607 23.9421 85.4859C24.1542 84.6119 24.2375 83.6462 24.1921 82.588C24.1391 81.5322 23.9724 80.5772 23.6846 79.7251C23.3893 78.8723 22.9727 78.1452 22.4273 77.5385C21.882 76.9348 21.2004 76.4721 20.3748 76.1495C19.5568 75.8268 18.6024 75.673 17.5042 75.6882L17.1862 75.7011C16.0955 75.7859 15.1563 76.026 14.3686 76.4198C13.581 76.816 12.9371 77.3378 12.4373 77.9914C11.9374 78.6428 11.5738 79.407 11.3466 80.281C11.1194 81.1574 11.0361 82.1231 11.0815 83.1811C11.127 84.2369 11.3011 85.192 11.589 86.0448C11.8844 86.8947 12.301 87.6248 12.8538 88.2284Z' fill='white'/%3E%3Cpath d='M11.3143 71.8254L24.1476 71.3944L24.9066 68.3669L14.57 63.4955L25.9766 64.1093L26.728 61.1321L15.6173 54.6865L15.1771 56.4313L25.3695 62.3373L13.849 61.7332L13.0977 64.7264L23.6316 69.6829L11.7467 70.0806L11.3143 71.8254Z' fill='white'/%3E%3Cpath d='M22.3847 41.7311L34.0379 47.1463L36.0798 44.7872L29.0557 35.771L38.9585 41.4717L40.9698 39.1534L33.9687 28.3846L32.7942 29.7433L39.2119 39.6171L29.2092 33.8726L27.1826 36.204L34.3449 45.3868L23.5669 40.3724L22.3847 41.7311Z' fill='white'/%3E%3Cpath d='M41.3442 26.1463C41.5148 25.5467 41.8251 24.9774 42.2749 24.443C42.7171 23.9109 43.2833 23.4261 43.9736 22.9909C44.6562 22.5581 45.3387 22.2572 46.0213 22.0904C46.7039 21.9236 47.3555 21.898 47.976 22.0129C48.5965 22.1254 49.186 22.3782 49.7289 22.7699C50.2797 23.1616 50.7683 23.6984 51.2027 24.3848C51.6448 25.0798 51.924 25.757 52.0404 26.4124C52.1568 27.0686 52.1257 27.6984 51.9628 28.3003C51.7922 28.9014 51.4819 29.4684 51.032 30.0029C50.5822 30.538 50.0159 31.0205 49.3333 31.4556C48.6508 31.8884 47.9682 32.1909 47.2856 32.3623C46.6107 32.5354 45.967 32.5679 45.3465 32.4639C44.7337 32.3601 44.152 32.1157 43.609 31.7279C43.0661 31.3431 42.5774 30.8064 42.143 30.1223C41.6932 29.4056 41.3985 28.7152 41.2822 28.049C41.158 27.3819 41.1813 26.7482 41.3442 26.1463ZM40.6771 31.2369C41.2899 32.1413 41.9647 32.8362 42.6938 33.3187C43.4229 33.8035 44.1986 34.0983 45.013 34.2038C45.8197 34.3077 46.6574 34.2364 47.5261 33.9873C48.387 33.7383 49.2713 33.3319 50.1633 32.765C51.0553 32.2002 51.8 31.5789 52.3972 30.9034C52.9945 30.2262 53.4133 29.5033 53.6693 28.7284C53.9252 27.9558 53.9872 27.1314 53.8632 26.2588C53.7313 25.3869 53.39 24.4802 52.8393 23.5362L52.6609 23.2702C52.0482 22.3635 51.3733 21.6662 50.6442 21.1798C49.9073 20.6904 49.1317 20.3918 48.325 20.2816C47.5028 20.1707 46.6651 20.2335 45.7886 20.4739C44.9199 20.7121 44.0356 21.1147 43.1437 21.6817C42.2517 22.2463 41.507 22.8676 40.9098 23.5425C40.3125 24.2204 39.8937 24.9471 39.6377 25.7266C39.3895 26.5039 39.3275 27.3322 39.4593 28.2088C39.5912 29.0853 39.9402 30.0052 40.5065 30.9685L40.6771 31.2369Z' fill='white'/%3E%3Cpath d='M53.1411 16.2446L59.8578 27.194L62.8666 26.3604L61.9946 14.9609L67.1009 25.1876L70.0546 24.3674L70.1724 11.5225L68.4363 12.0025L68.3341 23.7806L63.1651 13.4636L60.1955 14.2877L61.0911 25.8993L54.8772 15.7638L53.1411 16.2446Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_230_4856'%3E%3Crect width='160' height='160' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
        background-size: cover;
        width: clamp(5rem, 3.5714rem + 7.1429vw, 10rem);
        height: clamp(5rem, 3.5714rem + 7.1429vw, 10rem);
        position: absolute;
        top: -5vw;
        right: -1.5vw;
        animation: spinner 10s linear infinite;
      }

      .plus-icon {
        filter: invert(1);
      }
    }

    &:nth-of-type(8) {
      > * {
        max-width: toRem(500);
      }
    }
  }
}

.text-banner {
  background: $white;

  h2 {
    color: $black;
    font-weight: 400;
    line-height: 1.4;

    span {
      &:first-child {
        font-size: clamp(2rem, 1.1786rem + 4.1071vw, 4.875rem);
      }

      &:last-of-type {
        font-size: clamp(1.5rem, 0.8571rem + 3.2143vw, 3.75rem);
        opacity: 0.5;
      }
    }
  }
}

.blocks-grid {
  $columns: 4;
  $rows: 4;
  $gap: 10px;

  .wrapper {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
    margin-bottom: toRem(40);
  }

  &__item {
    padding: toRem(30) toRem(12);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      @include grid-item($bg-url: "../images/grid/pexels-artempodrez-6941450-_1_.webp", $column-span: 2);
    }

    &:nth-of-type(2) {
      @include grid-item($bg-color: $blue, $column-span: 2, $logo-pos: (30%, -10%), $logo-scale: 1.4, $logo-rotation: 346deg);
    }

    &:nth-of-type(3) {
      @include grid-item($bg-color: $orange, $column-span: 3, $row-start: 2, $logo-pos: (-45%, -10%), $logo-scale: 1.4, $logo-rotation: 10deg);
    }

    &:nth-of-type(4) {
      @include grid-item($bg-url: "../images/grid/pexels-olly-3755494.webp", $row-start: 2);
    }

    &:nth-of-type(5) {
      @include grid-item($bg-url: "../images/grid/pexels-olly-3768126.webp", $column-span: 2, $row-start: 3);
    }

    &:nth-of-type(6) {
      @include grid-item($bg-color: $green-secondary, $column-span: 2, $row-start: 3, $logo-pos: (50%, 50%), $logo-scale: 0.9, $logo-rotation: 10deg);
    }

    &:nth-of-type(7) {
      @include grid-item($bg-url: "../images/grid/pexels-cottonbro-4778611.webp", $row-start: 4);
    }

    &:nth-of-type(8) {
      @include grid-item($bg-color: $pink-light, $column-span: 3, $row-start: 4, $logo-pos: (-70%, -10%), $logo-scale: 01.4, $logo-rotation: 10deg);
    }

    &:nth-of-type(9) {
      @include grid-item($bg-url: "../images/grid/pexels-enginakyurt-2943603.webp", $display: none);
    }

    .plus-icon {
      @include plus-icon;
      width: toRem(32);
      height: toRem(32);
      right: toRem(20);
      bottom: toRem(10);
    }

    &-title {
      margin-bottom: toRem(20);
      font-size: clamp(1rem, 0.4286rem + 2.8571vw, 3rem);
      font-weight: 400;
    }
  }
}

.price {
  background-color: $black;

  .h2 {
    margin-bottom: toRem(50);
  }

  &-boxes {
    margin: 0 toRem(-20);
    max-width: 1400px;
    padding-bottom: toRem(40);
    padding-right: toRem(20);
  }

  &__item {
    background-color: $white-08;
    border-radius: toRem(10);
    border: 2px solid transparent;
    padding: toRem(30) toRem(16);
    height: auto;
    color: $white;
    transition: $primary-animation;

    &:hover {
      border-color: $orange;
    }

    &__subtitle {
      color: $orange;
      font-weight: 400;
      margin-bottom: toRem(30);
    }

    &__title {
      font-size: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
      margin-bottom: toRem(16);
      line-height: 1.2;

      span {
        font-size: toRem(16);
        opacity: 0.75;
        font-weight: 300;
      }
    }

    &__text {
      font-size: toRem(24);
      line-height: 1.2;
      margin-bottom: toRem(30);

      span {
        font-size: clamp(0.625rem, 0.5179rem + 0.5357vw, 1rem);
        opacity: 0.75;
        font-weight: 300;
      }
    }

    &__list {
      opacity: 0.75;
      font-weight: 300;
      line-height: 1.5;

      li {
        display: flex;
        align-items: center;
        margin-bottom: toRem(12);

        &:last-of-type {
          margin-bottom: 0;
        }

        &:before {
          content: '';
          width: toRem(22);
          height: toRem(22);
          background: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 11.6514C6 11.2717 6.3078 10.9639 6.6875 10.9639H14.6527L11.7014 8.0125C11.4329 7.74402 11.4329 7.30872 11.7014 7.04023C11.9698 6.77174 12.4052 6.77174 12.6736 7.04023L16.7986 11.1652C17.0671 11.4337 17.0671 11.869 16.7986 12.1375L12.6736 16.2625C12.4052 16.531 11.9698 16.531 11.7014 16.2625C11.4329 15.994 11.4329 15.5587 11.7014 15.2902L14.6527 12.3389H6.6875C6.3078 12.3389 6 12.0311 6 11.6514Z' fill='%23FEA726'/%3E%3C/svg%3E%0A") center no-repeat;
          background-size: cover;
          margin-right: toRem(10);
          flex-shrink: 0;
        }
      }
    }
  }

  &__item__featured {
    column-gap: toRem(24);
    row-gap: toRem(24);

    .h4 {
      color: $orange;
      margin-bottom: 0;
      font-weight: 400;
      max-width: toRem(220);
    }

    .text-md {
      color: $white-75;
      max-width: toRem(692);
    }
  }

  .swiper-pagination {
    bottom: 0;

    &-bullet {
      width: toRem(10);
      height: toRem(10);
      background-color: $white;
    }

    &-bullet-active {
      background-color: $orange;
    }
  }

  .wrapper {
    max-width: 1400px;
    margin: toRem(36) auto 0;

    a:not(.button-primary) {
      transition: $primary-animation;

      &:hover {
        color: $orange;
      }
    }
  }

  .text-sm {
    color: $white-75;
    margin-bottom: toRem(36);
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 8px;

    .card__item {
      border-radius: toRem(10);
      padding: toRem(10);
      background-color: $white-08;
      transition: $primary-animation;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text-sm {
        margin-bottom: 0;
        margin-top: toRem(20);
      }
    }
  }
}

.testimonials {
  background-color: $black;
  padding-right: 0 !important;

  .h2 {
    margin-bottom: toRem(50);
  }

  &__item {
    &-text {
      font-weight: 400;

      &:before {
        content: '';
        width: toRem(48);
        height: toRem(48);
        background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_153_421)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.48 23.5201C10.2462 23.6635 9.03612 23.9661 7.87996 24.4201C7.07086 24.7268 6.31498 25.1587 5.63996 25.7001C4.81186 26.322 4.18009 27.169 3.81996 28.1401C3.81996 28.8401 3.93996 29.5201 5.09996 29.7401C5.20114 29.7636 5.306 29.7666 5.40838 29.7491C5.51076 29.7315 5.60861 29.6937 5.69617 29.6378C5.78373 29.5819 5.85924 29.5091 5.91828 29.4236C5.97731 29.3381 6.01869 29.2417 6.03996 29.1401C6.15996 28.6601 5.37996 28.0601 6.71996 27.1401C7.41887 26.6243 8.20466 26.2382 9.03996 26.0001C9.909 25.7581 10.8001 25.604 11.7 25.5401C13.1033 25.4431 14.497 25.8341 15.6451 26.6469C16.7932 27.4597 17.6251 28.6442 18 30.0001C18.4621 31.2617 18.4603 32.6466 17.995 33.9071C17.5296 35.1676 16.6311 36.2214 15.46 36.8801C14.2545 37.4276 12.9222 37.635 11.6073 37.4799C10.2924 37.3248 9.04498 36.813 7.99996 36.0001C6.78373 35.3237 5.71718 34.4079 4.8647 33.3079C4.01221 32.2079 3.39148 30.9466 3.03996 29.6001C2.42198 25.4299 3.05538 21.1701 4.85996 17.3601C6.58719 13.4516 9.22793 10.0153 12.56 7.34007C12.6717 7.27435 12.7684 7.18575 12.8435 7.08008C12.9187 6.9744 12.9706 6.85404 12.996 6.72687C13.0213 6.59971 13.0195 6.46862 12.9907 6.34221C12.9618 6.21579 12.9065 6.09691 12.8285 5.99334C12.7505 5.88978 12.6515 5.80388 12.5379 5.74128C12.4243 5.67868 12.2988 5.64078 12.1696 5.63009C12.0404 5.61939 11.9104 5.63613 11.7881 5.67921C11.6658 5.72229 11.554 5.79074 11.46 5.88007C7.74891 8.65557 4.7528 12.2756 2.71996 16.4401C0.546754 20.6512 -0.33674 25.4095 0.179962 30.1201C0.564705 31.8983 1.31674 33.5765 2.38785 35.0471C3.45897 36.5177 4.82553 37.7483 6.39996 38.6601C7.93758 39.7553 9.75138 40.3977 11.6356 40.5144C13.5198 40.631 15.399 40.2173 17.06 39.3201C18.7541 38.2884 20.0262 36.6881 20.6491 34.8049C21.2719 32.9217 21.2049 30.8784 20.46 29.0401C19.8275 27.2267 18.5887 25.6872 16.9526 24.6815C15.3165 23.6758 13.3835 23.2656 11.48 23.5201Z' fill='%23121212'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M45.66 26C44.8407 25.077 43.7919 24.387 42.62 24C41.01 23.4914 39.328 23.2482 37.64 23.28C36.4693 23.2135 35.3006 23.4403 34.24 23.94C33.2246 24.4238 32.3296 25.1275 31.62 26C31.4734 26.1496 31.3913 26.3506 31.3913 26.56C31.3913 26.7694 31.4734 26.9705 31.62 27.12C31.6927 27.195 31.7797 27.2546 31.8759 27.2954C31.9721 27.3361 32.0755 27.3571 32.18 27.3571C32.2844 27.3571 32.3878 27.3361 32.484 27.2954C32.5802 27.2546 32.6672 27.195 32.74 27.12C33.3301 26.4373 34.0509 25.8797 34.86 25.48C35.6882 25.1655 36.5786 25.049 37.46 25.14C38.9214 25.1822 40.3665 25.4591 41.74 25.96C42.5269 26.2946 43.2153 26.8247 43.74 27.5C44.4322 28.5194 44.9022 29.673 45.1193 30.8859C45.3363 32.0988 45.2957 33.3438 45 34.54C44.9021 35.651 44.4483 36.7007 43.706 37.5331C42.9637 38.3655 41.9725 38.9361 40.88 39.16C38.135 39.741 35.2717 39.2471 32.88 37.78C31.8443 36.8762 31.0061 35.7686 30.4176 34.5264C29.8292 33.2841 29.5032 31.9339 29.46 30.56C29.152 26.9446 29.7215 23.3082 31.12 19.96C32.5067 16.4622 34.3783 13.1767 36.68 10.2C36.8265 10.0083 36.8918 9.76671 36.8619 9.52728C36.8319 9.28786 36.7092 9.06977 36.52 8.92002C36.3315 8.77464 36.0931 8.70985 35.8569 8.73984C35.6208 8.76983 35.4061 8.89214 35.26 9.08002C32.2511 12.7125 29.8838 16.8316 28.26 21.26C27.1404 24.3028 26.6571 27.543 26.84 30.78C26.8603 32.5632 27.2596 34.3217 28.0113 35.9389C28.763 37.556 29.8499 38.9949 31.2 40.16C32.679 41.1446 34.3376 41.8281 36.0809 42.1713C37.8242 42.5144 39.6181 42.5106 41.36 42.16C42.7523 41.949 44.0559 41.3461 45.1184 40.4218C46.1808 39.4974 46.9583 38.2898 47.36 36.94C48.0145 35.1199 48.2018 33.1646 47.9048 31.2533C47.6078 29.342 46.836 27.5357 45.66 26Z' fill='%23121212'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_153_421'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
        background-size: contain;
        display: block;
        margin-bottom: toRem(20);
      }
    }
  }

  &__mobile {
    padding-bottom: toRem(40);
    padding-right: toRem(20);

    .swiper-slide {
      height: auto;
    }

    .swiper-pagination {
      bottom: 0;

      &-bullet {
        width: toRem(10);
        height: toRem(10);
        background-color: $white;
      }

      &-bullet-active {
        background-color: $orange;
      }
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  &__box {
    border-radius: 10px;
    padding: toRem(20);

    &.blue {
      background-color: $blue;
    }

    &.orange {
      background-color: $orange;
    }

    &.pink {
      background-color: $pink-primary;
    }

    &.green {
      background-color: $green-secondary;
    }

    &.gray {
      background-color: $gray;

      .text-sm {
        color: $dark-primary;
      }
    }
  }
}

@include breakpoint(md) {
  .features {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      @each $index, $grid-value in $grid-area-values__tablet {
        &:nth-of-type(#{$index}) {
          grid-area: #{$grid-value};
        }
      }

      @for $i from 5 through 8 {
        &:nth-of-type(#{$i}) {
          margin-top: toRem(22);
        }
      }
    }
  }

  .blocks-grid {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
    }

    &__item {
      grid-column: auto !important;
      grid-row-start: auto !important;

      &:nth-of-type(3) {
        grid-column-start: 1 !important;
        grid-row-start: 2 !important;
      }

      &:nth-of-type(4) {
        grid-column-start: 3 !important;
        grid-row-start: 1 !important;
      }

      &:nth-of-type(9) {
        display: block;

      }
    }
  }

  .price {
    &-boxes {
      margin: 0 toRem(-20) 0 auto;
    }

    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include breakpoint(lg) {

  .home-hero {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;

    &__title {
      padding-top: toRem(100);
    }

    .button-primary {
      margin-bottom: toRem(100);
    }

    .hero-slider {
      position: absolute;
      top: 0;
      left: 20px;
      flex-direction: row;
      gap: 32px;
      height: 100%;
      display: flex;
      width: 100%;
      padding-top: 0;

      &-top,
      &-bottom {
        flex-basis: 50%;
        margin-bottom: 0;
      }

      &__item {
        border-radius: toRem(20);

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }

  .features {
    .wrapper {
      padding: 48px;
    }

    &__item {

      @for $i from 5 through 8 {
        &:nth-of-type(#{$i}) {
          padding: toRem(50) toRem(30);
          display: flex;
          flex-direction: column;
        }
      }

      &:nth-of-type(6) {
        background-image: url("data:image/svg+xml,%3Csvg width='516' height='401' viewBox='0 0 516 401' fill='none' xmlns='http://www.w3.org/2000/svg' style='opacity: 0.5;'%3E%3Cg clip-path='url(%23clip0_230_4827)' filter='url(%23filter0_d_230_4827)'%3E%3Cpath d='M524.296 221.78C515.295 214.213 503.413 211.023 491.825 213.066L461.154 218.474L461.172 186.135C461.16 179.446 459.476 172.951 456.366 167.198C459.469 159.324 461.164 150.765 461.151 141.861L461.16 26.5935C461.152 14.8288 455.949 3.66578 446.948 -3.90196C437.919 -11.4587 426.037 -14.6524 414.449 -12.609L341.403 0.270921C313.839 5.13098 292.574 25.831 286.265 52.045C262.656 62.6796 246.575 85.9505 245.716 112.674C245.292 112.303 244.868 111.937 244.445 111.578C235.445 104.013 223.533 100.828 211.945 102.871L177.614 108.924C168.959 110.45 160.938 113.53 153.794 117.85C147.664 115.864 141.078 115.367 134.601 116.509L100.242 122.567C72.6505 127.432 51.384 148.132 45.0756 174.346C20.8005 185.284 4.48342 209.593 4.4833 237.276L4.48248 272.767C4.49427 279.458 6.17841 285.953 9.28899 291.705C6.18565 299.581 4.491 308.142 4.50431 317.049L4.50314 352.539C4.48225 364.309 9.68487 375.472 18.7142 383.032C25.7816 388.976 34.649 392.219 43.7448 392.343C45.3102 401.561 50.1225 410.001 57.397 416.101C66.3974 423.666 78.3087 426.851 89.898 424.807L124.227 418.755C132.883 417.228 140.904 414.148 148.049 409.829C154.179 411.814 160.765 412.311 167.241 411.169L201.601 405.111C223.267 401.291 241.053 387.685 250.72 369.309C253.044 373.485 256.134 377.255 259.892 380.395C268.892 387.96 280.803 391.145 292.363 389.108L365.409 376.227C374.063 374.701 382.086 371.622 389.23 367.301C395.36 369.287 401.916 369.79 408.423 368.642L481.469 355.763C514.52 349.935 538.525 321.331 538.536 287.762L538.537 252.271C538.529 240.507 533.326 229.341 524.296 221.78Z' fill='%23F96DE6' fill-opacity='0.3'/%3E%3Cpath d='M188.167 207.511C183.53 208.33 180.19 212.33 180.197 217.023L180.183 228.661L191.05 226.744C195.659 225.931 199.027 221.925 199.02 217.232L199.034 205.595L188.167 207.511ZM141.508 275.366L152.373 273.45C156.983 272.637 160.352 268.631 160.345 263.938L160.332 252.309L149.492 254.22C144.855 255.037 141.515 259.039 141.494 263.737L141.508 275.366ZM113.67 320.157C118.308 319.339 121.676 315.338 121.669 310.646L121.655 299.014L110.816 300.926C106.179 301.743 102.811 305.747 102.818 310.439L102.831 322.069L113.67 320.157ZM229.917 180.001L257.55 175.13L257.554 210.618C257.545 224.843 247.401 236.955 233.379 239.428L226.656 240.614C222.128 241.412 218.882 245.306 218.869 249.889L218.862 261.726L257.554 254.903L257.559 290.395C257.549 304.617 247.377 316.732 233.382 319.2L226.66 320.385C222.131 321.183 218.859 325.088 218.874 329.663L218.883 337.1C218.874 351.325 208.702 363.437 194.707 365.906L160.351 371.963L160.335 332.08L149.304 334.025C144.777 334.823 141.504 338.727 141.491 343.308L141.501 350.745C141.491 364.97 131.346 377.077 117.324 379.55L82.9677 385.608L82.9794 356.947C82.9841 353.123 80.8739 350.784 79.6123 349.732C78.3518 348.678 75.6803 347.007 71.921 347.669L44.2883 352.542L44.3108 317.046C44.2941 302.831 54.4653 290.713 68.46 288.246L75.1831 287.06C79.7103 286.262 82.9841 282.36 82.9957 277.777L82.9759 265.948L44.2846 272.77L44.3068 237.275C44.2897 223.057 54.4616 210.943 68.4564 208.474L75.2065 207.284C79.7068 206.491 82.9806 202.592 82.9922 198.006L82.9829 190.572C82.9654 176.35 93.1368 164.237 107.16 161.764L141.516 155.707L141.503 195.592L152.561 193.641C157.062 192.848 160.337 188.952 160.348 184.366L160.338 176.93C160.349 162.71 170.521 150.593 184.516 148.124L218.871 142.067L218.887 170.723C218.882 174.543 220.965 176.889 222.226 177.943C223.488 178.997 226.158 180.668 229.917 180.001Z' fill='white'/%3E%3Cpath d='M322.504 144.131L288.152 150.188L288.158 114.698C288.144 100.476 298.3 88.3652 312.324 85.8925L319.033 84.7096C323.554 83.9124 326.815 80.0149 326.809 75.4348L326.833 67.9905C326.82 53.7712 337.005 41.655 350.999 39.1874L424.023 26.3113L424.039 141.574C424.024 155.799 413.868 167.91 399.873 170.377L365.492 176.439L365.499 96.6671L354.442 98.6168C349.95 99.4088 346.66 103.314 346.665 107.889L346.67 115.328C346.684 129.55 336.499 141.663 322.504 144.131ZM501.403 251.984L501.397 287.477C501.41 301.696 491.225 313.813 477.231 316.28L404.178 329.161L404.2 300.497C404.181 296.68 402.075 294.337 400.82 293.282C399.567 292.232 396.897 290.559 393.125 291.225C388.632 292.017 385.342 295.922 385.348 300.5L385.354 307.939C385.338 322.162 375.181 334.273 361.188 336.742L288.135 349.623L288.141 314.13C288.157 299.906 298.313 287.794 312.307 285.327L357.717 277.32C362.237 276.522 365.498 272.62 365.521 268.038L365.52 220.715C365.507 206.496 375.662 194.381 389.685 191.909L424.038 185.852L424.04 254.396C424.032 258.222 426.136 260.562 427.392 261.617C428.647 262.672 431.345 264.338 435.088 263.677L501.403 251.984Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_230_4827' x='0' y='-14.2755' width='543.333' height='448' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_230_4827'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_230_4827' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_230_4827'%3E%3Crect width='535.333' height='440' fill='white' transform='translate(4 -14.2755)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .plus-icon {
        bottom: toRem(20);
      }

      &__list {
        li {
          flex-basis: calc(50% - 0.75rem);
        }
      }
    }
  }

  .blocks-grid {
    min-height: 100svh;

    .wrapper {
      height: calc(100svh - (6.25rem * 2));
    }

    &__item {
      padding: toRem(30) toRem(20);

      &:nth-of-type(5) {
        z-index: 999;
      }
    }
  }

  .price {
    .h2 {
      margin-bottom: toRem(100);
    }

    &-boxes {
      margin: 0 auto;
      padding-bottom: 0;
      padding-right: 0;
    }

    &__item {
      padding: toRem(30) toRem(24);
    }

    .text-sm {
      margin-bottom: toRem(100);
    }

    .cards {
      gap: toRem(30);
      grid-template-columns: repeat(5, 1fr);

      .card__item {
        padding: toRem(20);
      }
    }
  }

  .testimonials {
    min-height: 100svh;
    overflow: hidden;

    .h2 {
      margin-bottom: toRem(100);
    }

    &__box {
      border-radius: 20px;
      padding: toRem(24);
      min-height: toRem(260);

      &:first-child {
        grid-column: span 2 / span 2;
      }

      &:nth-of-type(2) {
        grid-column-start: 3;
      }

      &:nth-of-type(3) {
        grid-column-start: 4;
      }

      &:nth-of-type(4) {
        grid-row-start: 2;
      }

      &:nth-of-type(5) {
        grid-row-start: 2;
      }

      &:nth-of-type(6) {
        grid-column: span 2 / span 2;
        grid-row-start: 2;
      }
    }

    &__desktop {
      overscroll-behavior: none;
      width: 600%;
      height: 100%;
      display: flex;
      column-gap: 6vw;
    }

    &__item {
      max-width: toRem(1280);

      &:first-child {
        .testimonials__box {
          &:nth-child(2) {
            background: url('../images/testimonials/slide-1-1.jpg') no-repeat center;
            background-size: cover;
          }

          &:nth-child(5) {
            background: url('../images/testimonials/slide-1-2.jpg') no-repeat center;
            background-size: cover;
          }
        }
      }

      &:nth-of-type(2) {
        .testimonials__box {
          &:nth-child(2) {
            background: url('../images/testimonials/slide-2-1.jpg') no-repeat center;
            background-size: cover;
          }

          &:nth-child(5) {
            background: url('../images/testimonials/slide-2-2.jpg') no-repeat center;
            background-size: cover;
          }
        }
      }

      &:nth-of-type(3) {
        .testimonials__box {
          &:nth-child(2) {
            background: url('../images/testimonials/slide-3-1.jpg') no-repeat center;
            background-size: cover;
          }

          &:nth-child(5) {
            background: url('../images/testimonials/slide-3-2.jpg') no-repeat center;
            background-size: cover;
          }
        }
      }
    }
  }
}

@include breakpoint(xxl) {
  .features {
    .wrapper {
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      @each $index, $grid-value in $grid-area-values__desktop {
        &:nth-of-type(#{$index}) {
          grid-area: #{$grid-value};
        }
      }

      &:nth-of-type(5) {
        margin-left: toRem(22);
        margin-top: 0;
      }

      &__list {
        max-width: 75%;
      }
    }
  }
}
